<a href="https://colab.research.google.com/github/nethaji-achha/NNDL/blob/main/Assign_II_432.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

In [3]:
data = pd.read_excel('/content/drive/MyDrive/nndl/NNDLAssign2_data.xlsx')
data.head()

            X           Y
0  5551.82208  4931.26380
1  4983.17184  4775.53968
2  4888.39680  4713.81120
3  5072.95872  4689.02628
4  5196.25980  4844.75040

In [4]:
scaler = MinMaxScaler()
num_vars = ['X', 'Y']
data[num_vars] = scaler.fit_transform(data[num_vars])
data

           X         Y
0   0.255392  0.069070
1   0.082090  0.024668
2   0.053207  0.007067
3   0.109454  0.000000
4   0.147031  0.044402
5   0.282660  0.251611
6   0.743420  0.416774
7   0.955725  0.458287
8   0.492542  0.520690
9   0.481235  0.450687
10  0.193824  0.261745
11  0.155915  0.354638
12  0.087363  0.281301
13  0.018812  0.281213
14  0.445938  0.212854
15  0.445938  0.251967
16  0.439430  0.380417
17  0.456627  0.405307
18  0.826033  0.930308
19  0.820903  0.947776
20  0.717530  0.827681
21  0.549169  0.684075
22  0.498670  0.509845
23  0.240285  0.330637
24  0.227553  0.265167
25  0.117055  0.198276
26  0.106413  0.103605
27  0.111734  0.167741
28  0.186223  0.291080
29  0.383088  0.511089
30  0.537387  0.736699
31  0.585748  0.770212
32  0.585748  0.713943
33  0.505226  0.491533
34  0.484513  0.506200
35  0.528266  0.486644
36  0.423753  0.061292
37  0.324466  0.457309
38  0.351022  0.388862
39  0.345368  0.388862
40  0.423753  0.408418
41  0.606651  0.388862
42  0.852256  0.975554
43  1.000000  1.000000
44  0.892162  0.957109
45  0.367126  0.883106
46  0.512067  0.586604
47  0.335202  0.355527
48  0.223468  0.305747
49  0.000000  0.295791
50  0.087981  0.380683
51  0.098717  0.544691
52  0.351022  0.241033
53  0.387173  0.450109
54  0.841425  0.796516
55  0.759335  0.343953
56  0.559240  0.496298
57  0.392399  0.400684
58  0.486461  0.291080

In [5]:
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.1, random_state = 10)

In [6]:
m = 1
c = -1
eta = 0.001
max_iters = 100
r = 0.1

In [7]:
m_deriv = 0
c_deriv = 0
Vm = 0
Vc = 0
for iter in range(max_iters):
  i = 0
  for i in range(len(data)):
    x = data.X[i]
    y = data.Y[i]
    m_deriv = -(y-m*x-c)*x
    c_deriv = -(y-m*x-c)
    Vm = r*Vm - eta*m_deriv
    Vc = r*Vc - eta*c_deriv
    m = m + Vm
    c = c + Vc
print("Model parameter m and c are : ",m,c)

Model parameter m and c are :  1.187900342502603 -0.07004222726184788

In [8]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [9]:
y_pred_test = []
for i in x_test:
  y_p_te = (m * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [10]:
#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 0.2119769092905856
Mean square error 0.04493421007238916
Mean absolute error 0.1494278611078105

In [11]:
#Testing Accuracies
mse = math.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse) 
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Root mean square error 0.09319324331982065
Mean square error 0.008684980600467296
Mean absolute error 0.08670643725297117

In [12]:
X=input('enter X value : ')
print('X = ',X)
Y=m*float(X)+c
print('Y = ',Y)

enter X value : 123
X =  123
Y =  146.0416999005583